bin/
.keep
Gemfile.lock
config/database.yml
config/mongoid.yml
config/enviroment.rb
update/

*.espressostorage

config/settings/servers.yml
public/avatar/*
passwords/
tmp/
vendor/
test/
time.txt
.bundle/
.idea/
/log/development.log

public/dist
public/lib
public/src

app/assets/javascripts/bootstrap3-wysihtml5.js

app/assets/javascripts/wysihtml5-0.3.0.js

app/assets/javascripts/wysihtml5-0.3.0.min.js

app/assets/stylesheets/bootstrap-wysihtml5.css

app/assets/stylesheets/bootstrap3-wysiwyg5-color.css

app/assets/stylesheets/bootstrap3-wysiwyg5.css
