<center>
<h2>Recent Races</h2>
<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Distance</th>
        </tr>
      </thead>
      <tbody>
        <% @races.each do |r| %>
        <tr>
          <td><a href="/meet/<%= r.id %>"><%= r.name %></a>
            <% if r.isLocked? and !r.isRun? %>
            <span data-toggle="tooltip" rel="tooltip" data-placement="top" title="Locked" class="octicon octicon-lock"></span>
            <% elsif r.isRun? %>
              <span data-toggle="tooltip" rel="tooltip" data-placement="top" title="Completed" class="octicon octicon-check"></span>
            <% end %>
          </td>
          <td><%= r.date %></td>
          <td><%= r.distance %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</center>
<% if !current_user.nil? and current_user.isAdmin? %>
<a class="pull-xs-right btn btn-primary" href="/meet/new" role="button">Create new meet</a>
<% end %>
