<center>
<h2>Runners</h2>
<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th># of races run</th>
        </tr>
      </thead>
      <tbody>
        <% @runners.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <td><%= r.meets.length %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
