<div class="jumbotron color">
  <h1 class="display-3">XCFantasy</h1>
  <p class="lead">Predict times for your teammates and see who can top the leaderboard</p>
  <hr class="m-y-2">
  <p>More accuracy =  more points</p>
  <p class="lead">
    <% if current_user.nil? %>
      <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign up</a>
    <% else %>
      <a class="btn btn-primary btn-lg" href="/meets" role="button">Start predicting</a>
      <a class="btn btn-primary btn-lg" href="/users/sign_out" role="button">Sign out</a>
    <% end %>
  </p>
</div>
