<br>



<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2><a style="color:white" href="/">XCFantasy</a><h2>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <% if current_user.nil? %>
        <a class="btn btn-primary pull-xs-right" href="/users/sign_in" role="button">Sign in</a>
      <% else %>
        <h4 style="margin-top: 7px" class="pull-xs-right"><em>Welcome <%= current_user.name %></em></h4>
      <% end %>
    </div>
  </div>
</div>
<hr>
