<ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'home' %>" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'races' %>" href="/meets">Meets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'users' %>" href="/leaderboard">Leaderboard</a>
  </li>
</ul>
